/*
 * CSS Grid Layout
 */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "welcome welcome"
        "str str"
        "md5 md5"
        "sha1 sha1"
        "sha256 sha256"
        "sha512 sha512"
        "rmd160 rmd160"
        "intro intro";

    @media (min-width: 992px) {
        grid-template-areas:
            "welcome welcome"
            "str str"
            "md5 sha1"
            "sha256 sha512"
            "rmd160 ad";
    }

    #welcome-card {
        grid-area: welcome;
    }

    #string-card {
        grid-area: str;
    }

    #md5-card {
        grid-area: md5;
    }

    #sha1-card {
        grid-area: sha1;
    }

    #sha256-card {
        grid-area: sha256;
    }

    #sha512-card {
        grid-area: sha512;
    }

    #rmd160-card {
        grid-area: rmd160;
    }
}

/*
 * Styling
 */

ion-content {
    
    --ion-background-color: var(--ion-color-light, #f4f5f8);
    --ion-item-background: white;

}