@mixin sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-sidenav-container {
    mat-sidenav {
      mat-nav-list {
        a[mat-list-item] {
          border-bottom: 1px solid mat-color($foreground, divider);
        }
      }

      .theme-switcher {
        border-top: 1px solid mat-color($foreground, divider);
      }
    }

    mat-sidenav-content {
      background: mat-color($background, background);
    }
  }
}
