<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z6"
               [mode]="(bp.isSmall | async) ? 'over' : 'side'"
               [opened]="!(bp.isSmall | async)"
               [fixedInViewport]="true">
    <div class="sidenav-wrapper">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item href="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </a>
      </mat-nav-list>
      <mat-list class="theme-switcher">
        <mat-list-item>
          <mat-slide-toggle (change)="toggleTheme($event)">
            Dark Theme
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>