<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z6"
               [mode]="(bp.isSmall | async) ? 'over' : 'side'"
               [opened]="!(bp.isSmall | async)"
               [fixedInViewport]="true">
    <div class="sidenav-wrapper">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item routerLink="/hash-generator">
          <mat-icon svgIcon="hash-generator"></mat-icon>
          <span>Hash Generator</span>
        </a>
        <a mat-list-item routerLink="/epoch-converter">
          <mat-icon svgIcon="epoch-converter"></mat-icon>
          <span>Epoch Time Converter</span>
        </a>
        <a mat-list-item routerLink="/unicode-converter">
          <mat-icon svgIcon="unicode-converter"></mat-icon>
          <span>Unicode Converter</span>
        </a>
      </mat-nav-list>
      <mat-list class="theme-switcher">
        <mat-list-item>
          <mat-icon svgIcon="dark-theme"></mat-icon>
          <mat-slide-toggle #themeToggle labelPosition="before" [(ngModel)]="isDarkTheme"
            (change)="toggleTheme($event)">
            Dark Theme
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>