@import '~@angular/material/theming';

@import './app/shared/components/navbar/navbar.theme';
@import './app/shared/components/sidenav/sidenav.theme';
@import './app/shared/components/file-drop-area/file-drop-area.theme';
@import './app/shared/components/circle-clock/circle-clock.theme';
@import './app/pages/epoch-converter/epoch-converter.theme';


@mixin coderbox-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-icon {
    color: mat-color($foreground, icon);
  }

  @include navbar-theme($theme);
  @include sidenav-theme($theme);
  @include file-drop-area-theme($theme);
  @include circle-clock-theme($theme);
  @include epoch-converter-theme($theme);
}

@include mat-core();

$coderbox-app-primary: mat-palette($mat-cyan);
$coderbox-app-accent:  mat-palette($mat-teal);
$coderbox-app-warn:    mat-palette($mat-red);
$coderbox-light-theme: mat-light-theme(
  $coderbox-app-primary,
  $coderbox-app-accent,
  $coderbox-app-warn
);

$coderbox-dark-theme:  mat-dark-theme(
  $coderbox-app-primary,
  $coderbox-app-accent,
  $coderbox-app-warn
);

.light-theme {
  @include angular-material-theme($coderbox-light-theme);
  @include coderbox-app-theme($coderbox-light-theme);
}
.dark-theme {
  @include angular-material-theme($coderbox-dark-theme);
  @include coderbox-app-theme($coderbox-dark-theme);
}