epoch-converter {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner banner"
      "clock clock"
      "epoch epoch"
      "human human"
      "intro intro";


    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 240px;
      background-image: url('../assets/epoch-converter/bg.png');
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      z-index: -1;
    }

    ion-card {
      //margin: 10px;
      ion-card-header {
        color: map-get($colors, primary);
      }
    }

    #banner {
      height: 200px;
      grid-area: banner;
    }

    #intro-card {
      grid-area: intro;

      p {
        margin-bottom: 16px;
      }
    }

    #epoch-clock-card {
      grid-area: clock;

      ion-card-content {

        #clock-seconds {
          border: 4px solid lighten(gray, 30%);
          border-radius: 50%;
          width: 128px;
          height: 128px;
          margin: auto;
          text-align: center;

          p {
            display: inline-block;
            margin-top: 50%;
            line-height: 0;
          }
        }
      }
    }

    #epoch-time-card {
      grid-area: epoch;
    }

    #human-time-card {
      grid-area: human;
    }

    @media (min-width: breakpoint-min(lg)) {
      grid-template-areas:
        "banner banner"
        "clock intro"
        "epoch human";
    }
  }
}
