main {
  padding: 8px;

  mat-card {
    margin: 16px;

    &#welcome-card {
      img {
        object-fit: cover;
        height: 192px;
      }
    }

    mat-card-content {
      p {
        margin: 0 16px 16px;
      }
    }

    mat-card-actions {
      mat-icon {
        margin-right: 4px;
      }
    }
  }
}
