<main>
  <mat-card id="welcome-card">
    <img mat-card-image src="assets/home/welcome.svg" width="350" height="140">
    <mat-card-header>
      <mat-card-title>CoderBox</mat-card-title>
      <mat-card-subtitle>Day-to-Day Dev Tools</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        CoderBox is a set of common developer tools to make your day to day coding life easier.
      </p>
      <p>
        CoderBox is an Open Source project made by developers for developers. It is always free, always readily availble at your fingertips. CoderBox is Open Source under MIT license.
      </p>
      <p>
        CoderBox is implmented as a Progressive Web App (PWA) using Angular. We welcome any contribution, bug report on our GitHub repository.
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <a mat-button href="https://github.com/chen-yumin/coderbox">
        <mat-icon>code</mat-icon>
        Source Code
      </a>
      <a mat-button href="https://github.com/chen-yumin/coderbox/issues">
        <mat-icon>bug_report</mat-icon>
        Bug Report
      </a>
    </mat-card-actions>
  </mat-card>
</main>
