// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.menubar-title {
    .coderbox-icon {
        font-size: 25px;
        vertical-align: middle;

        &.lighter {
            color: #009E8C;
            transition: color 0.3s;

            &:hover {
                color: #D6FADB;
            }
        }

        &.darker {
            color: #032722;
            transition: color 0.3s;
            margin-left: -25px;

            &:hover {
                color: #008F9F;
            }
        }
    }
}