<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="menubar-title">
      <ion-icon class="coderbox-icon" src="assets/icons/coderbox.svg"></ion-icon>
      CoderBox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <ion-card class="welcome-card" id="welcome-card">
      <ion-img src="/assets/home/welcome.svg" width="350" height="140"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Day-to-Day Dev Toools</ion-card-subtitle>
        <ion-card-title>CoderBox</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          CoderBox is a Progressive Web App (PWA) designed by developers for developers. It contains common dev tools needed for day to day coding environment.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card id="modules-card">
      <ion-card-header>
        <ion-card-subtitle>Modules</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item href="/hash-generator">
          <ion-icon slot="start" color="medium" name="code-working"></ion-icon>
          <ion-label>Hash Generator</ion-label>
        </ion-item>
        <ion-item href="/epoch-converter">
          <ion-icon slot="start" color="medium" name="alarm"></ion-icon>
          <ion-label>Epoch Time Converter</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card id="roadmap-card">
      <ion-card-header>
        <ion-card-subtitle>Coming Soon</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item href="/floating-point-converter">
          <ion-icon slot="start" color="medium" name="grid"></ion-icon>
          <ion-label>Floating Point Converter</ion-label>
        </ion-item>
        <ion-item href="/character-encoding-converter">
          <ion-icon slot="start" color="medium" name="funnel"></ion-icon>
          <ion-label>Character Encoding Converter</ion-label>
        </ion-item>
        <ion-item href="/unicode-converter">
          <ion-icon slot="start" color="medium" name="repeat"></ion-icon>
          <ion-label>Unicode Converter</ion-label>
        </ion-item>
        <ion-item href="/base64-encoder-decoder">
          <ion-icon slot="start" color="medium" name="barcode"></ion-icon>
          <ion-label>Base64 Online Encoder/Decoder</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none" id="contribution">
      <ion-list-header>
        <ion-label>Contribution</ion-label>
      </ion-list-header>
      <ion-item>
        <p>
          CoderBox is an Open Source project. If you'd like to contribute, please visit: 
          <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
          <a href="https://github.com/chen-yumin/coderbox">https://github.com/chen-yumin/coderbox</a>
        </p>
      </ion-item>
    </ion-list>
  </main>
</ion-content>
