<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>CoderBox</ion-card-subtitle>
        <ion-card-title>Welcome to CoderBox</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          CoderBox is a Progressive Web App (PWA) designed by developers for developers. It contains commo DEVn tools needed for day to day coding environment.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Modules</ion-label>
      </ion-list-header>
      <ion-item href="/hash-generator">
        <ion-icon slot="start" color="medium" name="code-working"></ion-icon>
        <ion-label>Hash Generator</ion-label>
      </ion-item>
      <ion-item href="/epoch-time-converter">
        <ion-icon slot="start" color="medium" name="alarm"></ion-icon>
        <ion-label>Epoch Time Converter</ion-label>
      </ion-item>
      <ion-item href="/floating-point-converter">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Floating Point Converter</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Coming Soon</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Character Encoding Converter</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Unicode Code Converter</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Base64 Online Encoder/Decoder</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
