hash-generator {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner banner"
      "str str"
      "md5 md5"
      "sha1 sha1"
      "sha256 sha256"
      "sha512 sha512"
      "rmd160 rmd160"
      "intro intro";

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 240px;
      background-image: url('../assets/hash-generator/bg.png');
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
      z-index: -1;
    }

    #banner {
      height: 200px;
      grid-area: banner;
    }

    #intro-card {
      grid-area: intro;

      p {
        margin-bottom: 16px;
      }
    }

    #string-card {
      grid-area: str;
    }

    #md5-card {
      grid-area: md5;
    }

    #sha1-card {
      grid-area: sha1;
    }

    #sha256-card {
      grid-area: sha256;
    }

    #sha512-card {
      grid-area: sha512;
    }

    #rmd160-card {
      grid-area: rmd160;
    }

    @media (min-width: breakpoint-min(lg)) {
      grid-template-areas:
        "banner banner"
        "str intro"
        "md5 sha1"
        "sha256 sha512"
        "rmd160 ad";
    }
  }
}
